<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Minsait</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Iniciar Sesión
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datosP">Datos Personales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pais">País</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ciudad">Ciudad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estado">Estado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Crear Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv">cv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datosL">Datos Laborales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datosEx">Datos Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datosEs">Datos Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<router-outlet></router-outlet>
