<div class="row g-3">
  <!-- Parte Izquierda - Formulario -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
                    <form [formGroup]="userForm">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="fas fa-cubes fa-2x me-3" style="color: #12163d;"></i>
                            <span class="h1 fw-bold mb-0">Minsait</span>
                          </div>
        
                          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                        <div class="form-group">
                          <label for="username" class="text-dart">Username</label>
                          <input type="text"  class="form-control" id="username" name="username" formControlName="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-dart">email</label>
                            <input type="text"  class="form-control" id="email" name="email" formControlName="email" required>
                          </div>
                          <div class="form-group">
                            <label for="password" class="text-dart">password</label>
                            <input type="password"  class="form-control" id="password" name="password" formControlName="password" required>
                          </div>
                       
                        <div class="btn-group mt-2" >
                          <button type="button" class="btn btn-primary" (click)="agregarUser()" >Registrarme</button>
                        </div>
                      </form>
  
                </div>
              </div>
            </div>
          </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">