<div class="centering">
    <form class="my-form">
        <h1>Curriculum Vitae</h1>
        
        <div class="top-section">


            <div class="contact-info">
                <h1>{{ datosP.username }}</h1>
            </div>
            <!-- Contenido de la nueva sección -->
        </div>

        <div class="form-sections">




            <div class="section left">
                <img class="form-image" src="/assets/descarga.png" alt="Imagen del CV">
                <div class="contact-info">
                    <h3>Contacto</h3>
<!--                 <p><strong>Nombre:</strong> {{ datosP.nombrePais }}</p>-->
                    <p><strong>Teléfono:</strong> {{ datosP.telefono }}</p>
                    <p><strong>País:</strong> {{ datosP.nombrePais }}</p>
                    <p><strong>Estado:</strong> {{ datosP.nombreEstado }}</p>
                    <p><strong>Ciudad:</strong> {{ datosP.nombreCiudad }}</p>
                </div>
                <div class="line"></div>
                <h3>Idiomas</h3>
                <p>{{ perfil.idiomas }}</p>
            </div>

            <div class="section right">
                <h2>Perfil Profesional</h2>
                <div class="line"></div>
                <p><strong>Puesto:</strong> {{ perfil.puesto }}</p>
                <p><strong>Lenguajes de Programación:</strong> {{ perfil.lenguajeProgramacion.join(', ') }}</p>
                <p><strong>Sistemas Operativos:</strong> {{ perfil.Sos.join(', ') }}</p>
                <p><strong>Experiencia:</strong> {{ perfil.yearsExperiencia }} años</p>
                <p><strong>Certificaciones:</strong> {{ perfil.certificaciones.join(', ') }}</p>
                <div class="line"></div>
                <h2>Estudios</h2>
                <div class="line"></div>
                <h2>Experiencia</h2>
            </div>
        </div>
    </form>
</div>

  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">